<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--FAVICON with http://realfavicongenerator.net/ -->
      <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}?v=0">
      <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}?v=0">
      <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}?v=0">
      <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}?v=0">
      <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}?v=0">
      <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}?v=0">
      <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}?v=0">
      <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}?v=0">
      <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon-180x180.png') }}?v=0">
      <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}?v=0" sizes="32x32">
      <link rel="icon" type="image/png" href="{{ asset('favicon-194x194.png') }}?v=0" sizes="194x194">
      <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}?v=0" sizes="96x96">
      <link rel="icon" type="image/png" href="{{ asset('android-chrome-192x192.png') }}?v=0" sizes="192x192">
      <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}?v=0" sizes="16x16">
      <link rel="manifest" href="{{ asset('manifest.json') }}?v=0">
      <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}?v=0" color="#cf3d25">
      <link rel="shortcut icon" href="{{ asset('favicon.ico') }}?v=0">
      <meta name="apple-mobile-web-app-title" content="UStA">
      <meta name="application-name" content="UStA">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-TileImage" content="{{ asset('mstile-144x144.png') }}?v=0">
      <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}?v=0">
      <meta name="theme-color" content="#cf3d25">

      <!--STYLESHEET-->
    {% stylesheets 'assets/bootstrap/css/bootstrap.css' 'assets/css/MyStyle.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    {% block stylesheets %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endblock %}

      <title>{% block title %}UStA{% endblock %}</title>
    </head>

    <body class="{% block bodyClass %}{% endblock %}">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      {{ include(":include:menu_top.html.twig") }}
      {% endif %}
      {% if app.request.hasPreviousSession %}
        <div class="container">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }} alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flash | raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        {% block body %}
        <h1>Hello, world!</h1>
        {% endblock %}

      {% javascripts 'assets/js/jquery-1.11.3.min.js' 'assets/bootstrap/js/bootstrap.min.js' 'assets/js/MyFunctions.js' 'assets/js/typeahead.bundle.min.js' output='js/compiled/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      <footer class="body-footer">
        <div class="container text-muted">
          <ul class="list-inline">
            <li><span class="fa fa-copyright"></span> Copyright 2016 - Yasin SENEL & Sadetdin EYILI</li>
            <li><span class="fa fa-github"></span> Code source sur <a href="https://github.com/" target="_blank">GitHub</a></li>
            <li><span class="fa fa-info-circle"></span> À propos de <a href="#about" data-toggle="modal" data-target="#about">UStA</a></li>
          </ul>
        </div>
      </footer>

      <!-- Modal #about -->
      <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about">
        <div class="modal-dialog" role="document">
          <div class="modal-content panel-primary">
            <div class="modal-header panel-heading">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><span class="fa fa-lg fa-info-circle"></span> À propos de UStA</h4>
            </div>
            <div class="modal-body">
              <p>
                {{ about.description | raw }}
              </p>
              <ul style="list-style:none;">
                <li><span class="fa-lg fa-fw fa fa-child"></span> Développeurs : <strong>{{ about.developers }}</strong></li>
                <li><span class="fa-lg fa-fw fa fa-map-marker"></span> À : <strong>{{ about.place }}</strong></li>
                <li><span class="fa-lg fa-fw fa fa-linux"></span> Projet développé sous : <strong>{{ about.OS }}</strong></li>
                <li><span class="fa-lg fa-fw fa fa-code-fork"></span> Version : <strong><samp>{{ about.version }}</samp></strong></li>
                <li>
                  <span class="fa-lg fa-fw fa fa-rocket"></span> UStA est propulsé par plusieurs technologies :
                  <ul style="list-style:none;">
                    {% for technology in about.technologies %}
                    <li><span class="{{ technology.icon_class }}"></span> {{ technology.intro }} <strong>{{ technology.name }}</strong></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
              <h3>Code source</h3>
              <p>
                Le code source de UStA est disponible sur <strong>GitHub</strong> et est sous <strong>Licence libre MIT</strong>
                <blockquote style="font-size:14px">
                  <div class="blockquote-body">
                    <p>La licence donne à toute personne recevant le logiciel le droit illimité de l'utiliser, le copier, le modifier, le fusionner, le publier, le distribuer, le vendre et de changer sa licence.</p>
                  </div>
                  <footer>Source <a href="https://fr.wikipedia.org/wiki/Licence_MIT" target="_blank"><cite title="Source Title"><span class="fa fa-wikipedia-w"> Wikipedia</cite></a></footer>
                </blockquote>
              </p>
              <pre style="height:150px;">
The MIT License (MIT)

Copyright (c) 2016 Yasin SENEL & Sadetdin EYILI

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
              </pre>
            </div>
            <div class="modal-footer">
              <a href="https://www.tldrlegal.com/l/mit" target="_blank" class="btn btn-default"><span class="fa fa-envelope-o"></span> Contact</a>
              <a href="https://github.com/" target="_blank" class="btn btn-default"><span class="fa fa-github"></span> GitHub</a>
              <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-times"></span> Fermer</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
      {% block javascripts %}
      {% endblock %}
    </body>
</html>
